body {
	padding-top: 70px;
	background: rgba(240,252,255,.8);
}
.wrap {
	margin: 0 auto;
	padding: 110px 0;
	width: 85%;
	background: #F0FCFF;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.box {
	margin: auto;
	width: 150px;
	background: url('mike-transparent.png') no-repeat 0 0;
	background-size: 150px;
}
.mike {
	display: block;
	width: 100%;
	transition: 1s ease-in-out;


}

.wrap:hover .mike {
	/*Different examples of rotation*/
	-webkit-transform: rotate(45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform: rotate(.5turn);
	-webkit-transform: rotate(1turn);
	/*Rotate's the image from specified x an y origins (from the- default- center). Also affects scale and skew*/
	-webkit-transform-origin: 100% 100%;
	/*Or:*/
	-webkit-transform-origin: bottom right;

	/*Scaling in the x or y direction, or both*/
	-webkit-transform: scaleX(1.5);
	-webkit-transform: scaleY(1.5);
	-webkit-transform: scale(1.5);

	/*Skewing in x or y direction*/
	-webkit-transform: skewX(45deg);
	-webkit-transform: skewY(-45deg);

	/*Translate function moves elements around on x or y axis from original position*/
	-webkit-transform: translateX(200px);
	-webkit-transform: translateX(-200px);
	/*Moves it to the right or left 100% of elements size*/
	-webkit-transform: translateX(100%);
	-webkit-transform: translateY(-100%);
	/*Moves element on x AND y axis. Similar to transform-origin, but works better performance wise, smoother animations*/
	-webkit-transform: translate(300px, 100px);
	-webkit-transform: translate(-200%, -80%);

	/*Combining all together*/
	-webkit-transform: scale(1.5) rotate(25deg) translate(50%, -25%);
	/*Or*/
	-webkit-transform: scale(1.5) rotate(360deg) translate(50%);
	/*All vendor prefixes for Safari, IE9, and older versions of Firefox and Opera*/
	-moz-transform: scale(1.5) rotate(360deg) translate(50%);
	-ms-transform: scale(1.5) rotate(360deg) translate(50%);
	-o-transform: scale(1.5) rotate(360deg) translate(50%);
	transform: scale(1.5) rotate(360deg) translate(50%);
















}
